name: CICD

on:
  push:
    branches:
      - main

jobs:
  vet:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Run go vet
        run: go vet ./...

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
  test:
    runs-on: ubuntu-latest

    services:
      database:
        image: cassandra:latest
        ports:
          - 9042:9042
        options: >-
          --health-cmd="nodetool status"
          --health-interval=30s
          --health-timeout=10s
          --health-retries=5
        env:
          CASSANDRA_BROADCAST_ADDRESS: database

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Install dependencies
        run: go mod download

      - name: Run tests
        run: go test -v ./...

  docker:
    runs-on: ubuntu-latest
    needs: [vet, lint, test]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/backend-engineering-modules:latest
