name: CICD

on:
  push:
    branches:
      - main

jobs:
  #vet:
    #uses: ./.github/workflows/vet.yml
  #lint:
    #uses: ./.github/workflows/lint.yml
  #test:
    #uses: ./.github/workflows/test.yml
  docker:
    runs-on: ubuntu-latest
    #needs: [vet, lint, test]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/backend-engineering-modules:latest
